<h1>Events in <%= state %></h1> <br>


<div>
    <form method="GET" action="/events">
        <input type="text" name="search" placeholder="What are you looking for?" style="display: inline; width:50%; margin-left:20%;">
        <input type="submit" value="Search">
    </form>
</div>

<br> <br>

<div class="thumbnails">

    <% if (events.length === 0) { %>
        <h3>No Events to Display</h3>
    <% } %>

    <% for (var i = 0; i < events.length; i++) { %>

        <div class="box">
            <a href="/events/<%= events[i]._id %>" class="image fit"><img src="<%= events[i].eventPicture %>" alt="" /></a>
            <div class="inner">
                <h3><%= events[i].eventName %></h3>
                <p><%= formatDateTime(events[i].eventStart) %></p>
                <a href="/events/<%= events[i]._id %>" class="button fit">View Details</a>
            </div>
        </div>

    <% } %>

</div>