<h1>Ticket Details</h1> <br>

<%- include('partials/messages'); %>

<% if (typeof ticket == 'undefined') { %>
    <h3 style="text-align: center">Event does not exist.</h3>
<% } else { %>

    <div class="row">
        <div class="column" style="background-color: #2c2c32; height: 800px; border-top-left-radius: 25px; width:60%;">
            <h2 style="font-weight: bold; margin:0; padding:0;"><%= ticket.event.eventName %></h2> <br>
            <h3 style="font-weight: bold; margin:0; padding:0;"><%= ticket.ticketType %> - $<%= ticket.event.ticketPrice %></h3> <br> <br>
            <p style="margin:0; padding:0;"><%= ticket.event.eventAddress %>, <%= ticket.event.eventCity %>, <%= ticket.event.eventState %></p>
            <p style="margin:0; padding:0;"><%= formatDateTime(ticket.event.eventStart) %> to <%= formatDateTime(ticket.event.eventEnd) %></p> <br> <br>
            <% if (ticket.ticketStatus === true) { %>
                <h4 style="font-weight: bold; margin:0; padding:0;">Ticket Status: Active</h4> <br> <br>
                <form method="POST" action="/tickets/<%= ticket._id %>/cancel">
                    <input type="submit" value="Cancel Ticket">
                </form>
            <% } else { %>
                <h4 style="font-weight: bold; margin:0; padding:0;">Ticket Status: Inactive</h4> <br> <br>
                <input type="submit" value="Cancelled" disabled>
            <% } %>
            <br>
            <p style="font-weight:bold; margin:0; padding:0;">Order Information</p> <br>
            <p style="margin:0; padding:0;">Ticket ID - <%= ticket._id %></p>
            <p style="margin:0; padding:0;">Ticket Holder - <%= holder %></p>
            <p style="margin:0; padding:0;">Date Purchased - <%= formatDateTime(ticket.purchaseDate) %></p>

        </div>
        <div class="column" style="background-color: #2c2c32; height: 800px; border-top-right-radius: 25px; position: relative; padding: 0; width:40%;">
            <div class="row fill" style="height:300px; padding:0; margin:0;">
                <img src="<%= ticket.event.eventPicture %>" alt="" style="height:200px;" />
            </div>
            <div class="row">

            </div>
        </div>
    </div>

<% } %>